# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Elvis\Documents\MEGAsync Downloads\CB\Codigos\Experimento 1 & 2\geospatial-shared-master\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
